h1 {
	color: white;
	background-color: red;
	border-top: black 5px solid;
	border-bottom: black 5px solid;
	text-align: center;
	font-family: sans-serif;
	padding: 5px;
}

body{
	background-color: cornsilk;
}

nav ul, nav li{
	list-style-type: none;
	display: inline;
	background-color: lightgrey;
	padding:5px;
	
}

nav{
	text-align:center;
	border-bottom:black 5px solid;
	padding-bottom:5px;
}

section {
	width:100%;
	overflow:hidden;
	display:block;
}

#navlinks{
	border-right: black 5px solid;
	font-size:1.5em;
	float:left;
	width:20%;
}
#main-container {
	float: left;
	padding: 5px 15px;
	overflow: hidden;
	display: block;
	width: 75%;
}
#produktbilder {
	width:50%;
}
#produktbilder img {
	width:40px;
	float:left;
	margin:5px;
}
#produktbilder img:first-child {
	width:100%;
}
#preise {
	
}
#preise p {
	overflow:hidden;
}
#preise p span {
	float:right;
}
#preise div {
	float:right;
}
#produktbeschreibung {
	width:75%;
	float:left;
}

.produktbox {
	position: relative;
	float: left;
    width: 200px;
	height: 200px;
    padding: 10px;
	margin: 20px;
    border: 1px solid black;
    background-color: lightblue;
	
}

.preis{
	position: absolute;
	right: 0px;
	bottom: 10px;
	padding: 5px;
}

.bestellnummer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 5px;
}