h1 {
	color: white;
	background-color: red;
	border-top: black 5px solid;
	border-bottom: black 5px solid;
	text-align: center;
	font-family: sans-serif;
	padding: 5px;
}

body{
	background-color: cornsilk;
}

nav ul, nav li{
	list-style-type: none;
	display: inline;
	background-color: lightgrey;
	padding:5px;
	
}

nav{
	text-align:center;
	border-bottom:black 5px solid;
	padding-bottom:5px;
}

#navlinks{
	border-right: black 5px solid;
	font-size:1.5em;
	width:10%;
	float:left;
	width:200px;
}
#main-container {
	display: block;
	float:left;
	padding: 5px 15px;
	overflow: hidden;
}

.produktbox {
	position: relative;
	float: left;
    width: 200px;
	height: 200px;
    padding: 10px;
	margin: 20px;
    border: 1px solid black;
    background-color: lightblue;
	
}

.preis{
	position: absolute;
	right: 0px;
	bottom: 10px;
	padding: 5px;
}

.bestellnummer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 5px;
}